
body {
    display: block;
    margin: 0;
    font-family: Roboto, sans-serif;
    --mdc-theme-primary: #0e4ead;
    background-color: #fafafa;
}
    @media(min-width: 768px) {
        body {
            height: 100vh;
            width: 100vw;
            display: grid;
            grid-template-columns: 148px 1fr 768px 1fr;
            grid-template-rows: 48px 1fr;

            grid-template-areas: 
                "header header header header"
                "nav  . main .";
        }
        nav {

        border-right: 1px solid #e5e5e5;
        }
    }


    a {
        padding: 1rem;
    }

    a:hover {
        background-color: #f1f1f1;
    }

    #header {
        display: flex;
        flex-direction: row;
        grid-area: header;
        background-color: #0e4ead;
        color: white;
        height: 48px;
        align-items: flex-end;
    }

    #header h2 {
        margin: 0 1rem;
    }

    #nav {
        grid-area: nav;
        display: flex;
        flex-direction: column;
        background-color: #fafafa;
        
    }

    #main {
        grid-area: main;
        display: block;
        max-width: 768px;
        padding: 1rem;
    }