<head>
    <script type="module" src="./count-list.js"></script>
    <style>
        body {
            background-color: blue;
            font-family: Arial, Helvetica, sans-serif;
        }

        #container {
            display: block;
            background-color: white;
            border-radius: 2px;
        }

        h2 {
            padding: 1rem;
        }

    </style>
</head>

<body>
    <div id="container">
        <h2>Message Count Liste</h2>
        <count-list id="list"></count-list>
    </div>
</body>

<script type="module">
    document.querySelector('#list').counts = [
        { clientName: 'asdf', amount: 2 },
        { clientName: 'asdf', amount: 2 },
    ];
</script>